<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Analyze</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" 
        type="text/css" href="{{url_for('static',filename='style.css')}}">
        <link rel="stylesheet" 
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script>
           
        </script>

    </head>
<body>

<div class="container">
  <h2>Neighborhood Analyzer</h2>
  <p>This page allows you to enter in the zip code of a neighborhood 
      and then submit the request to our analysis algorithm.</p>

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
    <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
    <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
    <li><a data-toggle="tab" href="#menu3">Menu 3</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3>HOME</h3>
        <label for="fader0">Years</label>
        <input type="range" id="fader0" min="2012" 
            max="2018" step="1" value="2012" oninput="update0(value)">
            <output for="fader" id="year0">2012</output><br><br>
        <label for="fader1">Years</label>
        <input type="range" id="fader1" min="2012" 
        max="2018" step="1" value="2012" oninput="update1(value)">
        <output for="fader1" id="year1">2012</output><br><br>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>Menu 1</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>Menu 2</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
    <div id="menu3" class="tab-pane fade">
      <h3>Menu 3</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
  </div>
</div>
<script type="text/javascript" src="{{url_for('static',filename='app.js')}}"></script>

</body>
</html>
